<!-- <button (click)="login()">login</button>
<button type="button" mat-icon-button (click)="login()">
  <fa-icon icon="google" style="font-size: 20px"></fa-icon>
</button> -->
<div class="background"></div>
<div class="overlay"></div>

<div class="container login">
  <div class="row">
    <div class="col text-center">
      <img src="assets/images/logo1.png" class="img" />
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <button type="button" mat-fab color="accent" (click)="login()" matTooltip="Zaloguj z Google">
        <img src="assets/images/google_logo.png" width="31px" />
      </button>
    </div>
  </div>
</div>
